@media (min-width: 992px) and (max-width: 1199px) {
    #novidades img {
        width: 506px;
        height: 470px;
        padding-bottom: 10px;
    }

    #sobre img {
        width: 506px;
        height: 470px;
        margin-top: 40px;
    }

    #acoriana {
        height: 500px;
        margin-bottom: 0px;
    }

    .image-materia {
        max-width: 140px;
        max-height: 150px;
    }

    .card-materia {
        height: 80%;
        width: 80%;
        padding: 8px 6px 6px;
    }
    
    .swiper {
        width: 650px;
        height: 325px;
    }

    .container-materias {
        height: 65%;
    }

    .swiper-wrapper {
        padding: 0px;
        height: 100%;
    }

    #acoriana h2 {
        margin-top: -60px;
        margin-bottom: 50px;
    }

    iframe {
        width: 480px;
        height: 300px;
    }
}