:root {
    --cor-tomescuro: #00A896;
    --cor-linkativo: #005850;
    --cor-tomclaro: #F0F3BD;
    --cor-backgroundpaginaclara: #9be0d9;
    --cor-textopreto: #000000;
    --cor-textorodape: #212529;
    --font-principal: 'Roboto', sans-serif;
    --font-sizebig: 30px;
    --font-sizepequeno: .8rem;
    --font-sizemedio: 1rem;
}